/* src/index.css */
@import 'tailwindcss';

@theme {
  
  --color-primary: #10b981;
  --color-secondary: #865f46;
  --color-accent: #309983/10;

  

  /*
    3. Font Family (Overrides + Custom Display font)
    We define the stack using CSS custom properties.
    You must ensure 'Inter' and 'Pacifico' are loaded via @font-face rules elsewhere.
  */
  --default-font-family: Inter, sans-serif; /* Overrides the default font-sans */
  --font-display: Pacifico, serif; /* Custom font utility: 'font-display' */
}
